<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Health Magazine</h1>
  </div>

  <div class="container container2">
    <h1 class="health">Magazines & Related Sites</h1>
    <a href="https://darebee.com/" target="_blank"><img src="img/darebee.jpg" alt="darebee" class="hlogo1"/></a><a href="https://www.health.com/" target="_blank"><img src="img/health.jpg" alt="health" class="img-thumbnail hlogo2"/></a><a href="https://darebee.com/" target="_blank"><img src="img/healthy.jpg" alt="healthy" class="hlogo3"/></a><a href="https://www.healthy-magazine.co.uk/" target="_blank"><img src="img/healthline.jpg" alt="hline" class="img-thumbnail hlogo4"/></a>
    <hr>
  </div>

  <div class="container container6">
    <a href="https://darebee.com/" target="_blank"><img src="img/darebee.jpg" alt="darebee" class="hlogo11"/></a><br>
    <a href="https://darebee.com/workouts/everyday-hero-workout.html" target="_blank"><img src="img/darebee1.jpg" alt="img1" class="mlogo1" /></a>
    <a href="https://darebee.com/daily-dares/june-16-2020.html" target="_blank"><img src="img/darebee2.jpg" alt="img2" class="mlogo2"></a>
    <a href="https://darebee.com/challenges/punches-and-squats-challenge.html" target="_blank"><img src="img/darebee3.jpg" alt="img3" class="mlogo3"></a>
  </div>

  <a href="https://www.health.com/" target="_blank"><img src="img/health.jpg" alt="health" class="hlogo22"/></a><br>

  <div class="container-fluid container7">
    <center><h2 class="health2">The Lastest On The COVID-19 Outbreak</h2></center>
    <center><a href="https://www.health.com/condition/infectious-diseases/coronavirus/can-you-get-coronavirus-from-talking-to-someone" target="_blank"><img src="img/health2.jpg" alt="img4" /></a></center>
    <center><p class="health1"> Here's How You Can Minimize Your Risk of Getting or Spreading Coronavirus While Talking to People</p></center>
  </div>

  <div class="container container6">
    <a href="https://darebee.com/" target="_blank"><img src="img/healthy.jpg" alt="healthy" class="hlogo33"/></a>
    <div class="row">
      <div class="col-sm-3 col3">
        <a href="https://www.healthy-magazine.co.uk/wfh-diaries-running/"><img src="https://www.healthy-magazine.co.uk/wp-content/uploads/2020/06/iStock-976787968-1015x677.png" class="himage" /></a>
        <p class="fitness">FITNESS</p>
        <h4 class="h44">WFT diaries: Turns out, I'm a terrible runner</h4>
        <p class="hp">Writer Hattie reqularly tries out the latest gym classes, but her lockdown escape didn't go so well</p>
      </div>
      <div class="col-sm-3 col3">
        <a href="https://www.healthy-magazine.co.uk/plant-based-eating-good-for-you-good-for-the-planet/"><img src="https://www.healthy-magazine.co.uk/wp-content/uploads/2020/05/iStock-1017787256_resized-1015x677.jpg" class="himage"/></a>
        <p class="food">FOOD</p>
        <h4 class="h44">Plant-based eating: good for you, good for the planet</h4>
        <p class="hp">The healthy, delicious way to support your active lifestyle - and the environment</p>
      </div>
      <div class="col-sm-3 col3">
        <a href="https://www.healthy-magazine.co.uk/get-started-cycling-2/"><img src="https://www.healthy-magazine.co.uk/wp-content/uploads/2020/04/running_web-1015x677.jpg" class="himage"/></a>
        <p class="fitness">FITNESS</p>
        <h4 class="h44">How to get started with cycling</h4>
        <p class="hp">It's a great way of toning up and keeping fit, while taking in some scenic views - here's how to get pedalling</p>
      </div>
      <div class="col-sm-3 col3">
        <a href="https://www.healthy-magazine.co.uk/protect-your-health-daily/"><img src="https://www.healthy-magazine.co.uk/wp-content/uploads/2020/05/cherries-1015x677.jpg" class="himage"/></a>
        <p class="blue">HEALTH</p>
        <h4 class="h44">Protect your health, daily</h4>
        <p class="hp">According to research, Montmorency cherries might boost your immunity and prevent respiatory problems - get your daily dose with CherryActice</p>
      </div>
    </div>
  </div>

  <div class="container container3">
    <a href="https://www.healthy-magazine.co.uk/" target="_blank"><img src="img/healthline.jpg" alt="hline" class="hlogo4"/></a>
    <h3 class="hh3">FEATURED HEALTH TOPICS</h3>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.healthline.com/coronavirus"><img src="img/healthline1.jpg" /></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/coronavirus"><img src="img/healthline2.jpg" /></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/coronavirus"><img src="img/healthline3.jpg" /></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/coronavirus"><img src="img/healthline4.jpg" /></a>
      </div>
    </div>
    <br><br>
    <h3 class="hh3">EDITOR'S PICK</h3>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.healthline.com/health-news/coronavirus-live-updates"><img src="img/healthline5.jpg" /></a>
        <strong><p>Coronavirus Outbreak: Daily<br> Updates</p></strong>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/health/parenting/having-the-talk-about-race-and-racism"><img src="img/healthline6.jpg" /></a>
        <strong><p>Having the Talk About Race and Racism with Out Children</p></strong>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/health-news/heres-why-covid-19-can-spread-so-easily-at-gyms-and-fitness-classes"><img src="img/healthline7.jpg" /></a>
        <strong><p>Here's Why COVID-19 Can Spread <br>So Easily at Gyms and Fitness <br>Classes</p></strong>
      </div>
      <div class="col-sm-3">
        <a href="https://www.healthline.com/health-news/theres-little-evidence-that-probiotics-help-most-gi-symptoms"><img src="img/healthline8.jpg" /></a>
        <strong><p>There's Little Evidence That Pro<br>biotics Help Most GI Symptoms</p></strong>
      </div>
    </div>

  </div>

  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span>
        <p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span>
        <p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center>
      <p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p>
    </center>
  </div>

  </script>
</body>

</html>
