<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Health News</h1>
  </div>

  <div class="container container3">
    <center><h1 class="nh1">Health News & Issues</h1></center>

    <center><a href="/news"><button type="button" value="All" class="nbtn">All</button></a><a href="/news2"><button type="button" value="Health/Medical Science" class="nbtn1">Health/Medical Science</button></a><a href="/news3"><button type="button" value="Recipe/Food" class="nbtn2">Recipe/Food</button></a><a href="/news4"><button type="button" value="News/Issue" class="nbtn3">News/Issue</button></a></center>
    <br><Br>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg3" src="https://post-phinf.pstatic.net/MjAyMDA2MDFfMjQ1/MDAxNTkwOTczMjg5NTMy.iU8yanjyUnr8pybkzFrNxjeEGMjwXoh8BHvc4a4wpK4g.n_kxkk3zm_cFNf-w44-2gsZIl1_tLTY8bun-EB0kpJMg.JPEG/%EC%9D%B8%ED%8A%B8%EB%A1%9C.jpg?type=w1200" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=15460571"><p class="post1">데일리</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=185079&memberNo=15460571&prevVolumeNo=28416982"><p class="post3">푸드</p></a>
              <h3>다이어트에 좋은 '새싹보리' 어떻게 먹어야 좋을까?</h3>
              <ul>
                <li>새싹보리란?</li>
                <li>새싹보리 효능</li>
                <li>새싹보리 부작용<li>
                <li>새싹보리 고르는 법 및 보관 법</li>
                <li>새싹보리 먹는 법</li>
                <li>새싹보리 키우는 법</li>
                <li>새싹보리분말 구매 꿀팁</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28416982&memberNo=15460571&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg1"
              src="img/back16.jpg"
              alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=33799477"><p class="post1">소믈리에타임즈</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=418222&memberNo=33799477&prevVolumeNo=28442024"><p class="post3">FOOD STORY by Sommeliertimes</p></a>
              <h3>"딸기는 베리가 아니다?!"...겉보기와 다른 음식 재료의 정의</h3>

              <ul>
                <li>브로콜리와 양배추, 콜리플라워는 '꽃'이다</li>
                <li>퀴노아는 '씨앗'이다</li>
                <li>아보카도와 호박 그리고 피망은 '과일'이다</li>
                <li>코코아콩과 커피콩은 콩이 아닌 '과일 씨앗'이다</li>
                <li>딸기, 블랙베리, 라즈베리는 베리(Berries)가 아니다</li>
                <li>바나나, 토마토, 키위, 석류는 베리다</li>
                <li>황설탕은 백설탕으로 만들어진다</li>
                <li>화이트 초콜릿은 초콜릿이 아니다</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28442024&memberNo=33799477&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg2" src="https://post-phinf.pstatic.net/MjAyMDAxMDdfMTM4/MDAxNTc4MzU0NjIzMjYy.a8c_b2OJaGPY0NMOw26LD0n0P02nv7Niv61t_doGoOUg.W3qXhSrUFI-ydq1GDN0SNg-poHsFCfvqRoEgKB4CvM8g.JPEG/image_1963659681578354534737.jpg?type=w1200" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=30942091"><p class="post1">21세기북스</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=568891&memberNo=30942091&prevVolumeNo=27229182"><p class="post3">자연식물식 다이어트 30일 챌린지</p></a>
              <h3>3개월간 과일, 채소만 먹으면 생기는 놀라운 일</h3>

              <ul>
                <li>오랜 우울감과 대인기피증 극복</li>
                <li>사라진 변비와 피부 트러블!</li>
                <li>이제는 꿀잠, 불면증 안녕!</li>
                <li>없어진 그 날의 생리통!</li>
              </ul>
            </div>
          </div>
          <a href="https://cc.naver.com/cc?a=ctd.postlist&r=&i=&bw=923&px=442.1099853515625&py=4463.15966796875&sx=442.1099853515625&sy=427.3699951171875&m=1&nsc=Mpost.home&u=https%3A%2F%2Fpost.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D27229182%26memberNo%3D30942091%26navigationType%3Dpush" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg3" src="img/back17.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=43457750"><p class="post1">김소형 채널H</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=491470&memberNo=43457750&prevVolumeNo=28434953"><p class="post3">본초로 직접 만드는 꿀템, 본초테라피</p></a>
              <h3>혈관청소에 좋은 과일주스! 혈관 속 콜레스테롤과 노폐물까지 깨끗하게~</h3>
              <ul>
                <li>혈관청소 해독주스 효능</li>
                <li>혈관청소 해독주스 섭취 주의사항</li>
                <li>김소형 한의사의 세줄 요약<li>
              </ul>
            </div>
          </div>
          <a href="https://cc.naver.com/cc?a=ctd.postlist&r=&i=&bw=923&px=515.7899780273437&py=6006.31005859375&sx=515.7899780273437&sy=501.04998779296875&m=1&nsc=Mpost.home&u=https%3A%2F%2Fpost.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D28434953%26memberNo%3D43457750%26navigationType%3Dpush" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg1"
              src="http://blogfiles.naver.net/MjAxNzAxMzFfMjc2/MDAxNDg1ODY0Mjk5NjAy.9Cwvm38heHk5AUjRz4xULJST109vhjxmPG6xkWxu_Ywg.O3hTF71L95zsPnAWKlZNeYX2RXpm0qBWE1IU7fQbabAg.PNG.checkoff7202/%B8%B6%B4%C3%BF%EC%C0%AF-10.png"
              alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=11595512"><p class="post1">MBN</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=135763&memberNo=11595512&prevVolumeNo=28242207"><p class="post3">[건강한 밥상레시피]</p></a>
              <h3>체내 흡수율 90%, '면역력' 높이는 착한 '단백질'은?</h3>

              <ul>
                <li>외부 침입에 맞서 싸우는 항체의 주요 성분</li>
                <li>헤모글로빈 형성의 필수 영양분</li>
                <li>풍부한 단백실 성분</li>
                <li>면역력 강화에 도움</li>
                <li>하루 단백질 권장량 충족</li>
                <li>유당 불내증</li>
              </ul>
            </div>
          </div>
          <a href="https://cc.naver.com/cc?a=ctd.postlist&r=&i=&bw=923&px=444.2099914550781&py=7896.83984375&sx=444.2099914550781&sy=531.5800170898437&m=1&nsc=Mpost.home&u=https%3A%2F%2Fpost.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D28242207%26memberNo%3D11595512%26navigationType%3Dpush" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg2" src="https://post-phinf.pstatic.net/MjAyMDA2MTZfMTM4/MDAxNTkyMjc4OTQ4MTg1.cSCfQZNNNRDCnnWAcbI3ugkI95Me0WNmKSmDaAzKhbIg.DnG6PDRW6oM8aZzleCOU8jt0sEdM9oNQ4XlBDtnxjaQg.JPEG/GettyImages-821910898.jpg?type=w1200" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=38294797"><p class="post1">엘라임의 파우치</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=536089&memberNo=38294797&prevVolumeNo=28544962"><p class="post3">레시피</p></a>
              <h3>황금쥬스 :: ABC쥬스 만드는 법</h3>

              <ul>
                <li>ABC쥬스란?</li>
                <li>ABC쥬스의 효능</li>
                <li>ABC쥬스의 부작용</li>
                <li>비트를 고르는 법</li>
                <li>ABC쥬스 만드는 법</li>
              </ul>
            </div>
          </div>
          <a href="https://cc.naver.com/cc?a=ctd.postlist&r=&i=&bw=923&px=387.3699951171875&py=8883.16015625&sx=387.3699951171875&sy=298.9499816894531&m=1&nsc=Mpost.home&u=https%3A%2F%2Fpost.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D28544962%26memberNo%3D38294797%26navigationType%3Dpush" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
    </div>



  </div>



  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
