<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Health News</h1>
  </div>

  <div class="container container3">
    <center><h1 class="nh1">Health News & Issues</h1></center>

    <center><a href="/news"><button type="button" value="All" class="nbtn">All</button></a><a href="/news2"><button type="button" value="Health/Medical Science" class="nbtn1">Health/Medical Science</button></a><a href="/news3"><button type="button" value="Recipe/Food" class="nbtn2">Recipe/Food</button></a><a href="/news4"><button type="button" value="News/Issue" class="nbtn3">News/Issue</button></a></center>
    <br><br>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg3" src="img/back10.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28452949&memberNo=48622516&navigationType=push"><p class="post1">캐시워크</p></a>
              <p class="post2">시리즈</p><p class="post3">건강이 캐시다</p></a>
              <h3>우리 몸을 이롭게 하는 단식의 누명(+간헐적 단식)</h3>
              <ul>
                <li>단식은 굶주림이 아니다</li>
                <li>식사와 단식이 균형을 유지하면 우리 몸은 지방을 태우는 몸이 된다</li>
                <li>비만의 원인 인슐린</li>
                <li>비만 호르몬 잡는 간헐적 단식</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28452949&memberNo=48622516&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg1"
              src="https://post-phinf.pstatic.net/MjAyMDA2MTdfMjIy/MDAxNTkyMzg4NjQ0MjA5.OarKNHH4C5lVniIGKG2IXIz_Gda9RRmNWG_VzQw1Da0g.AufcmpXFK6IpOK1IYJPgvOo2U-BBrBxqFw1Ct3dbWYwg.JPEG/%EC%98%A4%EB%8A%98%EC%9D%98_%ED%95%9C%EB%A7%88%EB%94%94_0617.jpg?type=w1200"
              alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=20182790"><p class="post1">질병관리본부 1339</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=571394&memberNo=20182790&prevVolumeNo=28559502"><p class="post3">코로나19</p></a>
              <h3>코로나19 오늘의 한마디</h3>

              <ul>
                <li>코로나19 여름에도</li>
                <li>기온변화에 관계없이 장기간 유행할 것</li>
                <li>불필요한 외출, 모임 자제</li>
                <li>집단감염 부르는 밀폐, 밀집, 밀접 접촉 줄이는 일상의 생활화, 습관화</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28559502&memberNo=20182790&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg2" src="https://post-phinf.pstatic.net/MjAyMDA2MTVfMTI4/MDAxNTkyMTgzNDg1ODky.4QztAwSIjpQts-5K9emY82arU3rDbjW8yhEPP5nMTNog.6_wVX66h0hG_cB5xNjNuWie2MaDW9n-gcIVob8QJXyAg.JPEG/shaunl.jpg?type=w1200" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=6289885"><p class="post1">코메디닷컴</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=265571&memberNo=6289885&prevVolumeNo=28533731"><p class="post3">닥터푸드</p></a>
              <h3>육류만큼 단백질 풍부한 식물성 식품 5</h3>

              <ul>
                <li>두부</li>
                <li>병아리콩</li>
                <li>렌틸콩</li>
                <li>퀴노아</li>
                 <li>아몬드</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28533731&memberNo=6289885&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg3" src="img/back11.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=23264882"><p class="post1">헬스경향</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?serieNo=313229&memberNo=28656674&prevVolumeNo=28484911"><p class="post3">비만과 건강</p></a>
              <h3>더 이상 살이 안 빠진다? 생활습관 돌아봐야</h3>
              <ul>
                <li>아침 먹는 습관, 식욕조절에 좋아요</li>
                <li>신진대사 기능 촉진하는 비타민D</li>
                <li>오후 10시~새벽 2시 사이에 잠들기</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28484911&memberNo=28656674&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg1"
              src="img/back12.jpg"
              alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/nhn?memberNo=27861801"><p class="post1">삼성서울병원</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=157384&memberNo=278610801&prevVolumeNo=28456959"><p class="post3">[건강생활백과]</p></a>
              <h3>[비타민 탐구] 항산화 대표 주자, 비타민E!</h3>

              <ul>
                <li>#비타민E, 왜 중요할까요?</li>
                <li>#비타민E, 어떤 식품에 많이 있을까요?</li>
                <li>#비타민E, 어떻게 먹어야 할까요?</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28456959&memberNo=27861801&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg2" src="https://post-phinf.pstatic.net/MjAyMDA0MDlfNiAg/MDAxNTg2MzkyNDk2MDQy.rDN-6TRqGhQQYiab1fnejwbiOy6eOYJmGlm8L2r1KRwg.cESekzCGL1-fHFQYyfpA_L3fDLVrIH0mxyT2hSGw_E4g.JPEG/chombosan.jpg?type=w1200" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=6289885"><p class="post1">코메디닷컴</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=265572&memberNo=6289885&prevVolumeNo=27945878"><p class="post3">건강백과</p></a>
              <h3>가볍지만 무시하지 말아야 할 코로나 증상 5</h3>

              <ul>
                <li>후각 상실</li>
                <li>피로</li>
                <li>가래와 인후통</li>
                <li>두통과 몸살</li>
                <li>매스꺼움, 구토, 설사</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=27945878&memberNo=6289885&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg3" src="img/back13.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=6089985"><p class="post1">인천나은병원</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?serieNo=546612&memberNo=6089985&prevVolumeNo=28546365"><p class="post3">+플러스 건강정보</p></a>
              <h3>[닥터's TALK] 손저림 증상, 직장인의 흔한 질환 손목터널증후군 의심해보세요!</h3>
              <ul>
                <li>손저림, 손목터널증후군 증상</li>
                <li>저림증상 방치하면.. 합병증 발생위험</li>
                <li>초기치료가 중요합니다</li>
                <li>손목터널증후군 예방법</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28546365&memberNo=6089985&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg1"
              src="img/back14.jpg"
              alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=37968322"><p class="post1">매디컬리포트</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=531846&memberNo=37968322&prevVolumeNo=28556575"><p class="post3">Health % Life</p></a>
              <h3>먹는 콜라겐 제대로 알고 먹어야 하는 이유!</h3>

              <ul>
                <li>Q. 콜라겐이란 무엇일까?</li>
                <li>Q. 콜라겐을 먹어야 하는 이유?</li>
                <li>Q. 콜라겐 효과를 높이려면?</li>
                <li>Q. 안전하게 콜라겐 효과를 얻으려면?</li>
                <li>Q. 콜라겐과 함께 복용하면 효과 UP!</li>
                <li>Q. 제품을 비교해본 결과?</li>
              </ul>
            </div>
          </div>
          <a href="https://cc.naver.com/cc?a=ctd.postlist&r=&i=&bw=854&px=407.2699890136719&py=2452.72998046875&sx=407.2699890136719&sy=414.54998779296875&m=1&nsc=Mpost.home&u=https%3A%2F%2Fpost.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D28556575%26memberNo%3D37968322%26navigationType%3Dpush" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img class="img-fluid blogimg2" src="img/back15.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <a href="https://post.naver.com/my.nhn?memberNo=713140"><p class="post1">강북삼성병원</p></a>
              <p class="post2">시리즈</p><a href="https://post.naver.com/my/series/detail.nhn?seriesNo=425449&memberNo=7131400&prevVolumeNo=28503315"><p class="post3">행복건강이야기</p></a>
              <h3>예쁜 신발이 건강을 해친다? 무지외반증 (재활의학과 이용택 교수)</h3>

              <ul>
                <li>무지외반증이란?</li>
                <li>무지외반증의 주요 증상</li>
                <li>무지외반증의 원인</li>
                <li>무지외반각에 따른 3단계 변화</li>
                <li>무지외반증 치료 방법</li>
                <li>무지외반증 예방법</li>
              </ul>
            </div>
          </div>
          <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=27945878&memberNo=6289885&navigationType=push" target="_blank"><span class="glyphicon glyphicon-eye-open logo logo1"></span></a>
        </div>
      </div>
    </div>




  </div>

  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
