<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Notice</h1>
  </div>

  <div class="container container3">
    <h1 class="notice1">Terms and Conditions of Use of HOMT</h1>
    <p class="notice3">The terms and conditions of the service include the following.</p>
    <strong><p class="notice2">Welcome, everyone.</p>
    <p class="notice2">Enjoy a variety of HOMT services.</p>
    <p class="notice2">If you sign up as a member, you will be able to use the HOMT service more conveniently.</p>
    <p class="notice2">We will cherish the content you provide.</p>
    <p class="notice2">Protect your personal information</p>
    <p class="notice2">Please respect other people's rights.</p>
    <p class="notice2">There are a few precautions regqrding the use of the HOMT service.</p>
    <p class="notice2">If the use of the service is inevitably restricted, reasonable procedures shall be observed.</p>
    <p class="notice2">HOMT is responsible for the fault of HOMT.</p>
    <p class="notice2">You can cancel the HOMT service contract at any time.</p>
    <p class="notice2">We will let you know if the service is interrupted or changed.</p>
    <p class="notice2">We will guide you through key points and listen to your valuable feedback.</p>
    <p class="notice2">To make it easier for you to understand, we post the terms and conditions and operational policies and revise them after prior notice.</p></strong>

    <hr class="hrr">
    <p class="notice4"><strong>Welcome, everyone.</strong><br><br>Thank you for using HOMT Service and Products (hereinafter referred to as "Service").
      This Agreement describes the relationship between the HOMT Service Provider and the members of the HOMT Service
      (hereinafter referred to as "members") or non-members in relation to the use of various HOMT Services,
       and includes useful information that may help you use the HOMT Service.<br><br>
       If you use the HOMT service or sign up as a member of the HOMT service,
       you will be able to confirm or agree to these terms and conditions and related operational policies,
       so please take a moment to take a close look at them.</p><br><br>
    <p class="notice4"><strong>Enjoy a variety of HOMT services.</strong><br><br>HOMT offers a variety of services
      that add convenience to your home training, including information retrieval, communication with other users, and content delivery.
      You can freely use various HOMT services through various Internet-enabled terminals such as PCs and mobile phones,
      and you can easily check the specific details of each service, such as information on the service, announcements,
      and help at the HOMT Customer Center (hereinafter referred to as the "Customer Center").<br><br>HOMT is basically the same service for all of you.
      However, there are cases in which the contents, hours, and frequency of use of services provided separately by users based on age or a certain grade are
      restricted in some cases due to special needs in the provision of related statutes or other individual services. For more information,
      you can also find information on each service, announcements, and customer center help.<br><br>Although these terms and conditions
      apply to the HOMT service by default, there are cases in which the HOMT provides various services, such as separate terms and conditions,
      operating policies, etc. are inevitably applied.</p><br><br>
    <p class="notice4"><strong>If you sign up as a member, you will be able to use the HOMT service more conveniently.</strong><Br><Br>You are free to apply for membership,
      and by accepting it, HOMT will complete the membership process and grant you a "account" for using the HOMT service.
      Account is a member identification unit established to manage the history of various services used by each member since the member logged in to the HOMT Service.<br><br>
      Members can use their own accounts to make it easier for them to access a wider range of HOMT services. For more information on this,
      please check the account operation policy and how to sign up for a HOMT membership in the customer center.</p><br><br>
    <p class="notice4"><strong>We will cherish the content you provide.</strong><br><br>HOMT expects your posts to be delivered to other users through the HOMT service,
        enriching our lives. A post is a content itself or file that consists of signs, text, voice, sound, pictures, photos, videos, links, etc.
        posted on the HOMT service for the purpose of letting others or yourself see it.<Br><br>HOMT promises to protect content that expresses your thoughts and feelings.
         Of course, you have the right to intellectual property rights to the posts you have produced and posted.<br><br>On the other hand,
         the legitimate provision of posts you have posted through the HOMT service requires access to such content as storage, reproduction,
         modification, public transmission, exhibition, distribution, and secondary copyright (only for translation), such as limited time and local limitations,
         and licenses without payment. Posting gives HOMT that authority, so you must have the necessary rights.<br><br>The HOMT will exercise limited access to the content
         you have granted only for exposure in HOMT services, utilization for promotion of services, research for service operation,
         improvement and development of new services, compliance with legal obligations such as web accessibility, and permission to search, collect,
         and link to external sites, as provided by relevant laws, including copyright law. If you are forced to use your content for other purposes,
         we will explain it to you in advance and get your consent.<br><br>In addition, your valuable content can be used by HOMT and HOMT affiliates
         for research and development, such as artificial intelligence technologies,
         to improve HOMT services and provide new HOMT services. HOMT will do its best to provide you with more convenient and useful HOMT through continuous research and development.<br><br>HOMT is
         committed to providing a variety of means to make it easier for you to manage the access or access of HOMT or other users to the content you provide.
         If the HOMT service provides management functions such as content deletion or non-disclosure,
         you can control the use or access of others directly, and you can also request actions such as deletion of content, non-disclosure,
         and exclusion of search results through the customer center. However, some HOMT services may be difficult to process such things as deletion or non-disclosure,
         so please check these information in the service information, announcements, and customer center help.</p><br><br>
      <p class="notice4"><strong>Protect your personal information.</strong><br><br>HOMT collects personal information only within the purpose and scope agreed
           by the members for smooth service provision.It is used and safely managed in accordance with the laws and regulations related to personal
           information protection. You can check the personal information processing policy for HOMT's efforts and other details in order to safely handle the personal
           information of users and members.<br><br>If you do not have a history of logging in or accessing the service for a certain period of time,
           HOMT may destroy or separate your information by e-mail, in-service notifications, or other appropriate electronic means,
           and if this results in a lack of essential information to provide the service, you may be forced to terminate the relevant service contract.</p><br><br>
      <p class="notice4"><strong>Please respect other people's rights.</strong><br><br>Your unintentional posting can violate other people's copyrights or violate their rights,
        such as defamation. In order to solve this problem, HOMT operates a post request service that includes the suspension of posting at the request of the claimant
        for infringement of rights and the resumption of posting of the relevant post upon the objection of the original publisher based on the Act on Promotion of Information and Communications
        Network Utilization and Information Protection, etc. and the Copyright Act, etc. For more details and procedures, please refer to the introduction of the post discontinuance
        request service in the customer center.<br><br>On the other hand, using other people's contents through HOMT service does not mean that you have
        intellectual property rights for that content. In order for you to use the content freely, you need to take special care because the use is within the scope of the relevant laws,
        such as the Copyright Act, or you need to obtain a separate permission from the intellectual property authority of the content.<br><br>HOMT grants you access to the relevant
        software accompanying the HOMT service so that you can fully access the HOMT service. In this case, please note that your free use is only allowed to
        the extent that the HOMT offers, such rights are not transferable, and non-exclusive conditions and legal notices apply.</p><br><Br>
      <p class="notice4"><strong>There are some precautions regarding the use of HOMT services.</strong><br><br>HOMT is committed to making the HOMT service free and convenient for you.
        However, you need your help and cooperation to use the HOMT service more safely and to ensure that you and others' rights are respected and protected.
        To ensure your safe use of the service and protection of your rights, the following conditions may restrict your posting or use of the HOMT service,
        so we ask for your confirmation and compliance.<p><br>

      <ul class="notice4">
        <li>Information such as name, date of birth, mobile phone number, etc. should not be falsely entered when signing up as a member.
          Please ensure that the information registered in your account is always accurate and up-to-date. Do not sell, transfer, lend,
          or mortgage your account to others or allow others to use it. In addition, you should not use someone else's account without permission.
          Please refer to the account management policy for details on this matter.</li><br>
        <li>Postings that pose a direct and obvious physical threat to others, postings that reveal private personal information such as self-inflicted acts of others
          or encouraging or encouraging suicide, personal information of others, personal information of others, postings that continuously ostracize or harass others,
          posts that suggest, arrange, lure or force others to sell sex, and posts that pose a serious and serious threat to public safety may be restricted. </li><br>
        <li>Posts that are prohibited under the relevant statutes or that are directly at risk of crime, such as performing acts subject to criminal punishment or
          aiding or abetting them, posts that promote, advertise, or sell items or services prohibited by the relevant statutes, and contents that violate other
          people's intellectual property rights, such as insults, invasion of privacy, or defamation, may be restricted. </li><br>
        <li>Postings that can cause sexual shame or distorted sexual consciousness, such as portraying provocative and explicit sexual acts,
          violent and provocative postings that can cause cruelty or disgust to others, posts that deceive others, such as impersonating others or claiming false facts,
          and posts that cause extreme disgust or displeasure may be restricted by repeated use of such postings. </li><br>
        <li>Posts posted using functions of HOMT service, such as automated means, that do not meet the purpose of providing individual HOMT services,
          may also be restricted as they cause inconvenience to other users and further hinder HOMT's smooth service delivery. Please refer to the post operation policy,
          terms and conditions of each individual service, and operation policies for other restricted posts.</li><br>
        <li>Attempt or sign up as a member of the HOMT service using automated means (e.g., macro programs, robots (bot), spiders, scrapers, etc.)
          without prior permission from HOMT, attempt or log in to the HOMT service, post a post on the HOMT service, communicate through the HOMT service (e.g., e-mail, note, etc.,
          or collect the ID of the member posted on the HOMT service, etc.). No attempt shall be made to neutralize HOMT's technical actions (e.g., switching IPs over and over again,
          bypassing or disabling Captcha through external solutions, etc.).</li><br>
        <li>Without the consent of HOMT, automated means shall not insert any content itself or file consisting of signs, characters, voices, sounds, pictures, photos, videos, links, etc.
          in any area or other area in which advertisements are placed on the HOMT service. In addition, the HOMT service or the software contained therein shall not be copied or modified,
          and shall not be sold, transferred, lent or secured or permitted to use it by any third party. Reverse design, attempt to extract source code, duplication, disassembly, imitation,
          or other modification of the software contained in the HOMT service is also prohibited (if applicable to open source, subject to its own terms). In addition, uploading viruses or
          other malicious code or abnormal use of service functions to prevent the smooth operation of HOMT services is prohibited.</li>
      </ul><br>

      <p class="notice4">Within the scope of these terms and conditions, HOMT has operational policies for posts, terms and conditions for each individual service, guidance on each service,
          announcements, and customer center help to ensure stable and smooth service use. Each detailed policy includes more specific precautions for your reference, so please
          check them through the body of this Agreement and links on the Configuration page.</p><br><br>
      <p class="notice4"><strong>If the use of the service is inevitably restricted, reasonable procedures shall be observed.</strong><br><br>HOMT is committed to handling your content
        with a wide range of information and opinions, but if your post violates the relevant statutes, these terms and conditions, operating policies,
        terms and conditions of each individual service, operating policies, etc., you may be forced to keep it private or delete or refuse to publish it.
        However, this does not mean that HOMT is obliged to review all content.<Br><br>In addition, if you do not comply with the relevant statutes,
          this Agreement, this Account and Post Operation Policies, the HOMT can check the details of your actions in each individual service,
          and depending on the results of the confirmation, you can restrict the use of the HOMT service by requesting attention to the use of the HOMT service,
          or suspending the use of the HOMT service partially or temporarily or permanently. On the other hand, in spite of these restrictions,
          if it is no longer possible to fully maintain the HOMT service contract, the contract with you can be terminated.<br><br>If you have to restrict the use of your service,
          we will comply with the above phased service restriction principles except for urgent risks or damage prevention due to obvious violation of statutes or violation of
          other people's rights. If the service is suspended immediately due to obvious violation of the law, please note that all points and other benefits obtained through the service will
          be extinguished and no compensation will be made. Please refer to the account operation policy and the operation policy for each individual service for the terms and details of the
          service use restriction.</p><br><br>
      <p class="notice4"><strong>Naver is responsible for HOMT's fault.</strong><br><br>HOMT will reimburse you for damages caused by HOMT's intention or negligence in using the HOMT service.
        However, HOMT shall not be held liable for damages caused by HOMT's inability to provide services due to natural disasters or
        equivalent force majeure or user's intention or negligence.<br><br>In addition, even if HOMT assumes liability for damages, special or indirect damages or other punitive damages due to
        special circumstances shall not be held liable unless otherwise provided in the relevant statutes.<br><br>On the other hand, HOMT shall not be held liable for damages caused by the
        exchange of opinions between you and other members, or by non-members, or by the trust of other people's postings on the service unless there are special circumstances.</p><br><br>
      <p class="notice4"><strong>You can cancel the HOMT service contract at any time.</strong><br><br>It is a pity for HOMT, but the members may withdraw from the membership at any time by
        applying for the termination of the HOMT service contract, and in this case, HOMT will handle it without delay, as provided by the relevant statutes.<br><br>If the HOMT service contract is terminated,
        all data of the member, including all posts attached to the member's account, will not be recovered at the same time as it is extinguished, except that HOMT can hold the member's information
        in accordance with the relevant statutes and personal information processing policies. However, in this case, posts such as posts that other members have taken or scraped separately and comments
        registered on the public bulletin board will not be deleted, so please delete them before applying for termination and withdraw.</p><br><br>
      <p class="notice4"><strong>We will let you know if the service is interrupted or changed.</strong><br><Br>Although HOMT is doing its best to provide stable service 24 hours a day and 24 hours a day,
        all or part of the service can be suspended if there are considerable reasons for operation, such as maintenance inspection, replacement or breakdown of information and communication
        facilities such as computers and servers.<br><br>Meanwhile, HOMT can modify, change, or terminate all or part of the service if there is a significant need for service operation or improvement.
        If all or part of the free service is modified, changed, or terminated, no compensation shall be made unless otherwise specified in the relevant statutes.<br><br>In this case, HOMT will guide you
        in advance of the foreseeable future, and in the unlikely event, we will explain and guide you in detail without delay. In the event of a service outage, we will also provide you with a reasonable
        and sufficient opportunity to back up your own content.</p><br><br>
      <p class="notice4"><strong>We will guide you through key points and listen to your valuable feedback.</strong><br><br>HOMT will do its best to provide timely guidance on
        important matters necessary to use the service. We will notify the members individually by e-mail, in-service notification, or other appropriate electronic means. However,
        if notification is required for all members, we will post the relevant information on the initial screen or announcement for at least seven days.<br><br>HOMT will listen to your
        valuable feedback. At any time, you can communicate your service use comments or improvements to the customer center, and HOMT will be able to communicate to you the process and results available to you within
        reasonable limits.</p><br><br>
      <p class="notice4"><strong>To make it easier for you to understand, we post the terms and conditions and operational policies and revise them after prior notice.</strong><br><br>HOMT is posting the contents of these
        terms and conditions on the initial screen of the service for your convenience.<br><br>The terms and conditions, accounts, and post management policies may be amended from time to time,
        but we will revise them to the extent that they do not violate the relevant statutes, and we will inform the service of the reason for the revision and the date of application in advance.
        In addition, any significant changes to the terms and conditions that may be disadvantageous to you will be notified in the service at least 30 days in advance and will be notified individually
        through separate electronic means (e-mail, in-service notifications, etc.).<br><br>HOMT waits for your comments on the terms and conditions change from the date the changed terms are published to the day they become effective.
        If your opinion is not received by HOMT after the above period, you are deemed to agree to use the service under the changed terms and conditions. It's very unfortunate for HOMT, but if you don't agree to the changed terms and conditions,
        you may no longer be able to provide such a service subject to the changed terms.<br><Br>The terms and conditions of the HOMT service apply by default, but there are times when additional terms and conditions and operational
          policies are applied to reflect the unique characteristics of each individual service. Therefore, if the separate terms and conditions and the operation policy stipulate different from the
          operation policy of this Agreement, account, and post, the separate terms and conditions and the operation policy shall prevail. Please check these details on the initial screen of each individual service.</p><br><br>
  </div>

  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
