<!DOCTYPE html>
<html lang="en">
<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Workout By Body Part</h1>
  </div>


<div class="container">
  <p>Life can get busy, and oftentimes we find ourselves traveling or otherwise unable to get to our preferred health and fitness facility for a workout. HOMT offers these 25 moves to help you stay on track, no matter where you find yourself. Using only your own body weight,these versatile moves can help you create a total-body at-home workout that fits your needs and abilities.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
    <li><a data-toggle="tab" href="#menu1">Abs</a></li>
    <li><a data-toggle="tab" href="#menu2">Arms</a></li>
    <li><a data-toggle="tab" href="#menu3">Back</a></li>
    <li><a data-toggle="tab" href="#menu4">Hips</a></li>
    <li><a data-toggle="tab" href="#menu5">Chest</a></li>
    <li><a data-toggle="tab" href="#menu6">Full Body</a></li>
    <li><a data-toggle="tab" href="#menu7">Shoulders</a></li>
    <li><a data-toggle="tab" href="#menu8">Legs</a></li>
  </ul>

  <div class="tab-content">
    <div id="all" class="tab-pane fade in active">
      <h3></h3>
      <p></p>
      <div class="container">
      <h2></h2>
      <p></p>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Supermans" onclick="document.getElementById('formExercise').submit()" value="Supermans">
              <img src="/img/workout_image/9-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Supermans</h4>
                <p>Who doesn't want to think they have super powers?  Great stretch as well when you picture trying to touch the opposing walls with your fingers and toes.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Push-up" onclick="document.getElementById('formExercise').submit()" value="Push-up">
              <img src="/img/workout_image/41-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Push-up</h4>
                <p>The Push-up is an oldie but goodie.  You can modify intensity by changing hand placement.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Contralateral Limb Raises" onclick="document.getElementById('formExercise').submit()" value="Contralateral Limb Raises">
              <img src="/img/workout_image/53-1.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Contralateral Limb Raises</h4>
                <p>Don’t let the name scare you – this is great for toning those troubling upper body areas.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Bent Knee Push-up" onclick="document.getElementById('formExercise').submit()" value="Bent Knee Push-up">
              <img src="/img/workout_image/13-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Bent Knee Push-up</h4>
                <p>A great starting option if you struggle with the correct form using a full Push-Up.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
              <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Downward-facing Dog</h4>
                <p>Slow and controlled movement very important – wonderful calf stretch.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Crunch" onclick="document.getElementById('formExercise').submit()" value="Crunch">
              <img src="/img/workout_image/52-1.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Crunch</h4>
                <p>Most people don’t know how to perform a proper sit-up/crunch – that is until now.  Core Power!</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
              <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Push-up with Single-leg Raise</h4>
                <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Front Plank" onclick="document.getElementById('formExercise').submit()" value="Front Plank">
              <img src="/img/workout_image/32-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Front Plank</h4>
                <p>This is harder than it looks!  Your back and abs will love you. </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Plank with Bent Knee" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Bent Knee">
              <img src="/img/workout_image/100-1.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Side Plank with Bent Knee</h4>
                <p>Great way to add in hips work without the need for any equipment other than your own body weight.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Supine Reverse Crunch" onclick="document.getElementById('formExercise').submit()" value="Supine Reverse Crunch">
              <img src="/img/workout_image/76-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Supine Reverse Crunch</h4>
                <p>Advanced crunch that targets the entire core region.  If you feel pain in your back – STOP.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Cobra" onclick="document.getElementById('formExercise').submit()" value="Cobra">
              <img src="/img/workout_image/16-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Cobra</h4>
                <p>This is my “good morning, time to wake up” exercise – great way to get ready for a busy day.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Squat Jumps" onclick="document.getElementById('formExercise').submit()" value="Squat Jumps">
              <img src="/img/workout_image/116-0.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Squat Jumps</h4>
                <p>A bit of heart rate work while working on total body movement.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Forward Lunge" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge">
              <img src="/img/workout_image/94-0.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Forward Lunge</h4>
                <p>If I could only do one leg exercise for the rest of my life, a lunge would be my choice.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Forward Lunge with Arm Drivers" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge with Arm Drivers">
              <img src="/img/workout_image/95-0.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Forward Lunge with Arm Drivers</h4>
                <p>Start with the regular lunge and work up to this advanced exercise hitting some core areas.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Glute Activation Lunges" onclick="document.getElementById('formExercise').submit()" value="Glute Activation Lunges">
              <img src="/img/workout_image/96-0.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Glute Activation Lunges</h4>
                <p>Often missed, this Gluteus workout is the MAXIMUS.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Glute Bridge" onclick="document.getElementById('formExercise').submit()" value="Glute Bridge">
              <img src="/img/workout_image/49-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Glute Bridge</h4>
                <p>Real people do yoga – and this is a great entry exercise to the power of slow and controlled movements.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Hip Rotations" onclick="document.getElementById('formExercise').submit()" value="Hip Rotations (Push-up Position)">
              <img src="/img/workout_image/110-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Hip Rotations (Push-up Position)</h4>
                <p>I’ve always had problems finding a good hip exercise – do this before any push-up exercises so you can stabilize your body before fatigue.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Lunge" onclick="document.getElementById('formExercise').submit()" value="Side Lunge">
              <img src="/img/workout_image/50-0.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Side Lunge</h4>
                <p>Advanced in terms of needing to include some movement into what becomes a static pose.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Lying Hip Abduction" onclick="document.getElementById('formExercise').submit()" value="Side Lying Hip Abduction">
              <img src="/img/workout_image/38-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Side Lying Hip Abduction</h4>
                <p>A common mistake is raising the leg too high in this exercise.  Small but effective movement.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Lying Hip Adduction" onclick="document.getElementById('formExercise').submit()" value="Side Lying Hip Adduction">
              <img src="/img/workout_image/39-1.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Side Lying Hip Adduction</h4>
                <p>Even smaller movement than Abduction but equally important.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Plank" onclick="document.getElementById('formExercise').submit()" value="Side Plank">
              <img src="/img/workout_image/99-1.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Side Plank</h4>
                <p>Advanced exercise that brings together a combination of core exercises.  If you feel joint pain, STOP.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Side Plank with Straight Leg" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Straight Leg">
              <img src="/img/workout_image/101-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Side Plank with Straight Leg</h4>
                <p>Don’t forget to breathe on this exercise – exhale on the exertion.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Single Leg Stand" onclick="document.getElementById('formExercise').submit()" value="Single Leg Stand">
              <img src="/img/workout_image/112-0.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>Single Leg Stand</h4>
                <p>I do this one while brushing my teeth in the morning – some call it crazy, I call it multi-tasking.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Standing Calf Raises" onclick="document.getElementById('formExercise').submit()" value="Standing Calf Raises">
              <img src="/img/workout_image/73-0.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>Standing Calf Raises</h4>
                <p>My shins are my weak points, thus finding a great exercise like this to improve that area is important.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="/Supine Pelvic Tilts" onclick="document.getElementById('formExercise').submit()" value="Supine Pelvic Tilts">
              <img src="/img/workout_image/7-1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Supine Pelvic Tilts</h4>
                <p>May not look like an abdominal exercise, but you will feel the burn after a set of these.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    </div>

    <div id="menu1" class="tab-pane fade">
      <h3></h3>
      <p></p>
      <div class="container">
      <h2></h2>
      <p></p>
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Crunch" onclick="document.getElementById('formExercise').submit()" value="Crunch">
                <img src="/img/workout_image/52-1.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <h4>Crunch</h4>
                  <p>Most people don’t know how to perform a proper sit-up/crunch – that is until now.  Core Power!</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Front Plank" onclick="document.getElementById('formExercise').submit()" value="Front Plank">
                <img src="/img/workout_image/32-1.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <h4>Front Plank</h4>
                  <p>This is harder than it looks!  Your back and abs will love you. </p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Side Plank with Bent Knee" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Bent Knee">
                <img src="/img/workout_image/100-1.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <h4>Side Plank with Bent Knee</h4>
                  <p>Great way to add in hips work without the need for any equipment other than your own body weight.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Supine Reverse Crunch" onclick="document.getElementById('formExercise').submit()" value="Supine Reverse Crunch">
                <img src="/img/workout_image/76-1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h4>Supine Reverse Crunch</h4>
                  <p>Advanced crunch that targets the entire core region.  If you feel pain in your back – STOP.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Cobra" onclick="document.getElementById('formExercise').submit()" value="Cobra">
                <img src="/img/workout_image/16-1.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <h4>Cobra</h4>
                  <p>This is my “good morning, time to wake up” exercise – great way to get ready for a busy day.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Forward Lunge" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge">
                <img src="/img/workout_image/94-0.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h4>Forward Lunge</h4>
                  <p>If I could only do one leg exercise for the rest of my life, a lunge would be my choice.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Forward Lunge with Arm Drivers" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge with Arm Drivers">
                <img src="/img/workout_image/95-0.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <h4>Forward Lunge with Arm Drivers</h4>
                  <p>Start with the regular lunge and work up to this advanced exercise hitting some core areas.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Glute Activation Lunges" onclick="document.getElementById('formExercise').submit()" value="Glute Activation Lunges">
                <img src="/img/workout_image/96-0.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <h4>Glute Activation Lunges</h4>
                  <p>Often missed, this Gluteus workout is the MAXIMUS.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Glute Bridge" onclick="document.getElementById('formExercise').submit()" value="Glute Bridge">
                <img src="/img/workout_image/49-1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h4>Glute Bridge</h4>
                  <p>Real people do yoga – and this is a great entry exercise to the power of slow and controlled movements.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Hip Rotations" onclick="document.getElementById('formExercise').submit()" value="Hip Rotations (Push-up Position)">
                <img src="/img/workout_image/110-1.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <h4>Hip Rotations (Push-up Position)</h4>
                  <p>I’ve always had problems finding a good hip exercise – do this before any push-up exercises so you can stabilize your body before fatigue.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Side Plank" onclick="document.getElementById('formExercise').submit()" value="Side Plank">
                <img src="/img/workout_image/99-1.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <h4>Side Plank</h4>
                  <p>Advanced exercise that brings together a combination of core exercises.  If you feel joint pain, STOP.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Side Plank with Straight Leg" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Straight Leg">
                <img src="/img/workout_image/101-1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h4>Side Plank with Straight Leg</h4>
                  <p>Don’t forget to breathe on this exercise – exhale on the exertion.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Single Leg Stand" onclick="document.getElementById('formExercise').submit()" value="Single Leg Stand">
                <img src="/img/workout_image/112-0.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <h4>Single Leg Stand</h4>
                  <p>I do this one while brushing my teeth in the morning – some call it crazy, I call it multi-tasking.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/Supine Pelvic Tilts" onclick="document.getElementById('formExercise').submit()" value="Supine Pelvic Tilts">
                <img src="/img/workout_image/7-1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h4>Supine Pelvic Tilts</h4>
                  <p>May not look like an abdominal exercise, but you will feel the burn after a set of these.</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>

      <div id="menu2" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up" onclick="document.getElementById('formExercise').submit()" value="Push-up">
                  <img src="/img/workout_image/41-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Push-up</h4>
                    <p>The Push-up is an oldie but goodie.  You can modify intensity by changing hand placement.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Bent Knee Push-up" onclick="document.getElementById('formExercise').submit()" value="Bent Knee Push-up">
                  <img src="/img/workout_image/13-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Bent Knee Push-up</h4>
                    <p>A great starting option if you struggle with the correct form using a full Push-Up.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
                  <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Downward-facing Dog</h4>
                    <p>Slow and controlled movement very important – wonderful calf stretch.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
                  <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Push-up with Single-leg Raise</h4>
                    <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Supermans" onclick="document.getElementById('formExercise').submit()" value="Supermans">
                  <img src="/img/workout_image/9-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Supermans</h4>
                    <p>Who doesn't want to think they have super powers?  Great stretch as well when you picture trying to touch the opposing walls with your fingers and toes.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Contralateral Limb Raises" onclick="document.getElementById('formExercise').submit()" value="Contralateral Limb Raises">
                  <img src="/img/workout_image/53-1.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Contralateral Limb Raises</h4>
                    <p>Don’t let the name scare you – this is great for toning those troubling upper body areas.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
                  <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Downward-facing Dog</h4>
                    <p>Slow and controlled movement very important – wonderful calf stretch.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Front Plank" onclick="document.getElementById('formExercise').submit()" value="Front Plank">
                  <img src="/img/workout_image/32-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Front Plank</h4>
                    <p>This is harder than it looks!  Your back and abs will love you. </p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Cobra" onclick="document.getElementById('formExercise').submit()" value="Cobra">
                  <img src="/img/workout_image/16-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Cobra</h4>
                    <p>This is my “good morning, time to wake up” exercise – great way to get ready for a busy day.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>

      <div id="menu4" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Supermans" onclick="document.getElementById('formExercise').submit()" value="Supermans">
                  <img src="/img/workout_image/9-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Supermans</h4>
                    <p>Who doesn't want to think they have super powers?  Great stretch as well when you picture trying to touch the opposing walls with your fingers and toes.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Contralateral Limb Raises" onclick="document.getElementById('formExercise').submit()" value="Contralateral Limb Raises">
                  <img src="/img/workout_image/53-1.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Contralateral Limb Raises</h4>
                    <p>Don’t let the name scare you – this is great for toning those troubling upper body areas.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
                  <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Downward-facing Dog</h4>
                    <p>Slow and controlled movement very important – wonderful calf stretch.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
                  <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Push-up with Single-leg Raise</h4>
                    <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Plank with Bent Knee" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Bent Knee">
                  <img src="/img/workout_image/100-1.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Side Plank with Bent Knee</h4>
                    <p>Great way to add in hips work without the need for any equipment other than your own body weight.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Squat Jumps" onclick="document.getElementById('formExercise').submit()" value="Squat Jumps">
                  <img src="/img/workout_image/116-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Squat Jumps</h4>
                    <p>A bit of heart rate work while working on total body movement.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Forward Lunge" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge">
                  <img src="/img/workout_image/94-0.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Forward Lunge</h4>
                    <p>If I could only do one leg exercise for the rest of my life, a lunge would be my choice.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Forward Lunge with Arm Drivers" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge with Arm Drivers">
                  <img src="/img/workout_image/95-0.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Forward Lunge with Arm Drivers</h4>
                    <p>Start with the regular lunge and work up to this advanced exercise hitting some core areas.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Glute Activation Lunges" onclick="document.getElementById('formExercise').submit()" value="Glute Activation Lunges">
                  <img src="/img/workout_image/96-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Glute Activation Lunges</h4>
                    <p>Often missed, this Gluteus workout is the MAXIMUS.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Glute Bridge" onclick="document.getElementById('formExercise').submit()" value="Glute Bridge">
                  <img src="/img/workout_image/49-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Glute Bridge</h4>
                    <p>Real people do yoga – and this is a great entry exercise to the power of slow and controlled movements.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Hip Rotations" onclick="document.getElementById('formExercise').submit()" value="Hip Rotations (Push-up Position)">
                  <img src="/img/workout_image/110-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Hip Rotations (Push-up Position)</h4>
                    <p>I’ve always had problems finding a good hip exercise – do this before any push-up exercises so you can stabilize your body before fatigue.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Lunge" onclick="document.getElementById('formExercise').submit()" value="Side Lunge">
                  <img src="/img/workout_image/50-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Side Lunge</h4>
                    <p>Advanced in terms of needing to include some movement into what becomes a static pose.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Lying Hip Abduction" onclick="document.getElementById('formExercise').submit()" value="Side Lying Hip Abduction">
                  <img src="/img/workout_image/38-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Side Lying Hip Abduction</h4>
                    <p>A common mistake is raising the leg too high in this exercise.  Small but effective movement.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Lying Hip Adduction" onclick="document.getElementById('formExercise').submit()" value="Side Lying Hip Adduction">
                  <img src="/img/workout_image/39-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Side Lying Hip Adduction</h4>
                    <p>Even smaller movement than Abduction but equally important.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Plank" onclick="document.getElementById('formExercise').submit()" value="Side Plank">
                  <img src="/img/workout_image/99-1.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Side Plank</h4>
                    <p>Advanced exercise that brings together a combination of core exercises.  If you feel joint pain, STOP.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Plank with Straight Leg" onclick="document.getElementById('formExercise').submit()" value="Side Plank with Straight Leg">
                  <img src="/img/workout_image/101-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Side Plank with Straight Leg</h4>
                    <p>Don’t forget to breathe on this exercise – exhale on the exertion.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>
      <div id="menu5" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up" onclick="document.getElementById('formExercise').submit()" value="Push-up">
                  <img src="/img/workout_image/41-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Push-up</h4>
                    <p>The Push-up is an oldie but goodie.  You can modify intensity by changing hand placement.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Bent Knee Push-up" onclick="document.getElementById('formExercise').submit()" value="Bent Knee Push-up">
                  <img src="/img/workout_image/13-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Bent Knee Push-up</h4>
                    <p>A great starting option if you struggle with the correct form using a full Push-Up.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
                  <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Push-up with Single-leg Raise</h4>
                    <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="menu6" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
                  <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Downward-facing Dog</h4>
                    <p>Slow and controlled movement very important – wonderful calf stretch.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
                  <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Push-up with Single-leg Raise</h4>
                    <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>
      <div id="menu7" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Supermans" onclick="document.getElementById('formExercise').submit()" value="Supermans">
                  <img src="/img/workout_image/9-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Supermans</h4>
                    <p>Who doesn't want to think they have super powers?  Great stretch as well when you picture trying to touch the opposing walls with your fingers and toes.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up" onclick="document.getElementById('formExercise').submit()" value="Push-up">
                  <img src="/img/workout_image/41-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Push-up</h4>
                    <p>The Push-up is an oldie but goodie.  You can modify intensity by changing hand placement.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Contralateral Limb Raises" onclick="document.getElementById('formExercise').submit()" value="Contralateral Limb Raises">
                  <img src="/img/workout_image/53-1.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Contralateral Limb Raises</h4>
                    <p>Don’t let the name scare you – this is great for toning those troubling upper body areas.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Bent Knee Push-up" onclick="document.getElementById('formExercise').submit()" value="Bent Knee Push-up">
                  <img src="/img/workout_image/13-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Bent Knee Push-up</h4>
                    <p>A great starting option if you struggle with the correct form using a full Push-Up.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Push-up with Single-leg Raise" onclick="document.getElementById('formExercise').submit()" value="Push-up with Single-leg Raise">
                  <img src="/img/workout_image/42-1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Push-up with Single-leg Raise</h4>
                    <p>A great progression from a regular Push-Up but remember to keep proper form.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
      </div>
      <div id="menu8" class="tab-pane fade">
        <h3></h3>
        <p></p>
        <div class="container">
        <h2></h2>
        <p></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Downward-facing Dog" onclick="document.getElementById('formExercise').submit()" value="Downward-facing Dog">
                  <img src="/img/workout_image/18-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Downward-facing Dog</h4>
                    <p>Slow and controlled movement very important – wonderful calf stretch.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Squat Jumps" onclick="document.getElementById('formExercise').submit()" value="Squat Jumps">
                  <img src="/img/workout_image/116-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Squat Jumps</h4>
                    <p>A bit of heart rate work while working on total body movement.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Forward Lunge" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge">
                  <img src="/img/workout_image/94-0.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <h4>Forward Lunge</h4>
                    <p>If I could only do one leg exercise for the rest of my life, a lunge would be my choice.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Forward Lunge with Arm Drivers" onclick="document.getElementById('formExercise').submit()" value="Forward Lunge with Arm Drivers">
                  <img src="/img/workout_image/95-0.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Forward Lunge with Arm Drivers</h4>
                    <p>Start with the regular lunge and work up to this advanced exercise hitting some core areas.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Glute Activation Lunges" onclick="document.getElementById('formExercise').submit()" value="Glute Activation Lunges">
                  <img src="/img/workout_image/96-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Glute Activation Lunges</h4>
                    <p>Often missed, this Gluteus workout is the MAXIMUS.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Hip Rotations" onclick="document.getElementById('formExercise').submit()" value="Hip Rotations (Push-up Position)">
                  <img src="/img/workout_image/110-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Hip Rotations (Push-up Position)</h4>
                    <p>I’ve always had problems finding a good hip exercise – do this before any push-up exercises so you can stabilize your body before fatigue.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Lunge" onclick="document.getElementById('formExercise').submit()" value="Side Lunge">
                  <img src="/img/workout_image/50-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Side Lunge</h4>
                    <p>Advanced in terms of needing to include some movement into what becomes a static pose.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Side Lying Hip Adduction" onclick="document.getElementById('formExercise').submit()" value="Side Lying Hip Adduction">
                  <img src="/img/workout_image/39-1.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <h4>Side Lying Hip Adduction</h4>
                    <p>Even smaller movement than Abduction but equally important.</p>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="/Standing Calf Raises" onclick="document.getElementById('formExercise').submit()" value="Standing Calf Raises">
                  <img src="/img/workout_image/73-0.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <h4>Standing Calf Raises</h4>
                    <p>My shins are my weak points, thus finding a great exercise like this to improve that area is important.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
