<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="h1">Youtube</h1>
  </div>

  <div class="container container3">
    <div class="youtubelogo">
      <a href="https://www.youtube.com/" target="_blank"><img src="img/youtube.jpg" /></a>
    </div>
    <div class="ytube">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.youtube.com/channel/UCpg89Ys3E4BaLGgEEWVmI9g" target="_blank"><img src="img/youtube1.jpg" /><p class="youtube1">Thankyou BUBU</p></a><a href="https://www.youtube.com/redirect?redir_token=Z72xyqinPH7JEgyyK1iqeILSIJx8MTU5MjM4Nzk1MUAxNTkyMzAxNTUx&event=channel_banner&q=https%3A%2F%2Fwww.instagram.com%2Fthankyou_bubu"><i class="fab fa-instagram instar"></i></a>
        </div>
        <div class="col-sm-5">
          <iframe width="400px" height="200px" src="https://www.youtube.com/embed/VNQpP6C1fJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
          <p class="play">Play List</p>
          <ul>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkebTXnDVnGtT0tYZV-6ocW4z"><li class="list">전신 칼로리 다이어트</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkebrJXitelB1R0xDWaLgA2Nb"><li class="list">허먹지&종아리 다이어트</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkeaIM5eyAERyUQ_huATcnhFT"><li class="list">뱃살 다이어트</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkeaNfn2ANS53rcyPCP9sfvyD"><li class="list">팔뚝살&상체 다이어트</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkebUYZqSueczefUSnGOmWeUr"><li class="list">스트레칭</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkeb2RBG_25r7V6HHAMSiQZ3q"><li class="list">집에서 하는 걷기 다이어트</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container container5">
    <p class="play">Upload Popularity</p>
    <div class="row">
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/iOSYLKBk894" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=iOSYLKBk894&t=2s">무.조.건! 뱃살 빠지는 운동 베스트5</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/VNQpP6C1fJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=iOSYLKBk894&t=2s">집에서 하는 유산소운동 다이어트[칼소폭] 30 MIN FULL BODY WORKOUT</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/Q70jQVPkMnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=iOSYLKBk894&t=2s">허벅지 안쪽살 빨리 빼느 운동 3가지</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/UYHfk45Yi2c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=iOSYLKBk894&t=2s">팔뚝 다이어트 운동 베스트4</a>
      </div>
    </div>
  </div>

  <div class="container container3">
    <hr class="rhr">
    <div class="ytube">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.youtube.com/channel/UCUsfRCHj5U1wAJEJiQpPLPw" target="_blank"><img src="img/youtubelogo1.jpg" class="youtubelogo1" /><br><p class="youtube1">제이제이살롱드핏</p></a><a href="https://www.youtube.com/redirect?redir_token=V9clQe7rUCj8s564xGuSk0O02-V8MTU5MjM5MzY0MEAxNTkyMzA3MjQw&event=channel_banner&q=https%3A%2F%2Fwww.instagram.com%2Fjjeuneu%2F"><i class="fab fa-instagram instar"></i></a>
        </div>
        <div class="col-sm-5">
          <iframe width="400px" height="220" src="https://www.youtube.com/embed/Rz5EQ6dk9Ug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
          <p class="play">Play List</p>
          <ul>
            <a href="https://www.youtube.com/playlist?list=PLmwjPxAHzLVWG1tFiWnI-ZXSWRKdjvV7o"><li class="list">살롱드핏 언니들 운동영상</li></a>
            <a href="https://www.youtube.com/playlist?list=PLmwjPxAHzLVWs4fPJvFfLeqcbWPonFE2H"><li class="list">언니들 다이어트일상 (먹고운동하기)</li></a>
            <a href="https://www.youtube.com/playlist?list=PLmwjPxAHzLVV7sZVmppqcQa4zFC5i1Ouw"><li class="list">제이제이 다이어트 강추 리뷰</li></a>
            <a href="https://www.youtube.com/playlist?list=PLmwjPxAHzLVUkCMnYMOZIbiImiCqH2CaO"><li class="list">다이어트정석시리즈</li></a>
            <a href="https://www.youtube.com/playlist?list=PLmwjPxAHzLVXZxGKfdLvOj3ciOiVvbJZN"><li class="list">일주일 챌린지</li></a>
            <a href="https://www.youtube.com/playlist?list=PLPPetu1spkeb2RBG_25r7V6HHAMSiQZ3q"><li class="list">살롱드핏 온라인 강의 다시보기</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container container5">
    <p class="play">Upload Popularity</p>
    <div class="row">
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/6deIIWXs5ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=6deIIWXs5ro">하복부 운동 제대로 하는 꿀팁! 아랫뱃살 빼는 운동은 이렇게 해야돼요..!(레그레이즈 허리통증잡기)</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/22jOsiZWuCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=22jOsiZWuCQ">유산소 다이어트 진실. 러닝머신을 해야만 체지방이 빠진다? 러닝머신 없이 체지방 빼는 방법!</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/HyKYnUnncMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=HyKYnUnncMw">겨드랑이 살 빼기 부유방없애기운동 | JJ다이어트 인벤 | Get rid of armpit fat</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/vKPTDHqYbdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=vKPTDHqYbdc">전설의 운동 하체토닝. 하루만에 허벅지안쪽 아랫배 골반라인을 다잡아??</a>
      </div>
    </div>
  </div>


  <div class="container container3">
    <hr class="rhr">
    <div class="ytube">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.youtube.com/channel/UCxM_KJ601hwrOpjVC07iMVQ" target="_blank"><img src="img/youtubelogo2.jpg" class="youtubelogo1" /><br><p class="youtube2">DanoTV</p></a><a href="https://www.youtube.com/redirect?event=channel_banner&redir_token=nmX38QvOpupYYVKBS-54GDFGwcJ8MTU5MjM5NTIzNEAxNTkyMzA4ODM0&q=https%3A%2F%2Fwww.instagram.com%2Fdano.fit%2F"><i class="fab fa-instagram instar"></i></a>
        </div>
        <div class="col-sm-5">
          <iframe width="420" height="220" src="https://www.youtube.com/embed/dQwkJNqHKCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
          <p class="play">Play List</p>
          <ul>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUsOvxIeHwWI05Snq7rkykmY"><li class="list">[전신 운동 모음] 올인원 운동/급찐급빠/유산소/앉아서하는운동</li></a>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUuzJIQfINaaKhXq0GqjTa9z"><li class="list">[매일 10개 챌린지] 하체/허벅지/안벅지/팔</li></a>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUsncu0_z5HcIXTrmKpwC62s"><li class="list">[하체 집중 공략] 엉덩이/허벅지/안벅지/앞벅지/종아리 운동</li></a>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUuPzaeA87KksL4WUZ8nZQZ1"><li class="list">[상체 군살 털업] 승모근/겨살/등살/팔살/복근 운동</li></a>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUvJYQ71s3jGIoKE4sM-YAJw"><li class="list">스트레스 해소를 위한 아침/취침 명상하는법: 포커스온미(FOCUS ON ME)</li></a>
            <a href="https://www.youtube.com/playlist?list=PLvJb0LzWxpUvB_O0E6Emcq8ZFc4B4vE0M"><li class="list">다이어트 운동 2주 계획표 챌린지: 전신/하체/상체/비키니</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container container5">
    <p class="play">Upload Popularity</p>
    <div class="row">
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/VVn5IUM8sms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=VVn5IUM8sms&t=5s">[EN/CH]하체비만 탈출 첫번째는 골반교정! 저녁에도 아침같은 다리 완성 (Lower Body Stretching, 다노레전드스트레칭, 골반교정스트레칭) ㅣ 다노티비</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/6_LYz_XxD-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=6_LYz_XxD-g">[EN/CH]눈뜨스:아침에 눈뜨자마자 따라하는 스트레칭 (First Thing in the Morning Stretching, Morning Stretching)ㅣ다노티비</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/K7WkGULlgJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=K7WkGULlgJc">[ENG] 20kg 감량에 꼭 필요한 운동은? 하루 1시간 운동할 필요 없어요. 다이어트 운동 추천 (my work out tips to lose 20kg) | 다노티비</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/gJ4ozBFNcu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=gJ4ozBFNcu8">[EN/CN]50kg 감량후기(From 100kg to 50kg. )습관성형 성공기 - 다이어트 비포애프터, 자극영상으로 최고! 다이어트 운동, 식단 비법 대방출! | 다노티비</a>
      </div>
    </div>
  </div>

  <div class="container container3">
    <hr class="rhr">
    <div class="ytube">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.youtube.com/channel/UCPVjwwmDpE6f3n9Ck2oaNTw" target="_blank"><img src="img/youtubelogo3.jpg" class="youtubelogo3" /><br><p class="youtube3">SmiHomeTraining스미홈트</p></a>
        </div>
        <div class="col-sm-5">
          <iframe width="422" height="207" src="https://www.youtube.com/embed/f5f9Vn2ICso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
          <p class="play">Play List</p>
          <ul>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4QzYNH31TwJ9bKyJHA-Ko4K"><li class="list">저강도 인터벌트레이닝</li></a>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4RR7Q0LB9FiHz1pty2sVnt4"><li class="list">(중급/난이도)스미루프밴드 운동, Mini Band Workout</li></a>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4Qov7ghdKT5mpZ4fkC-OZcb"><li class="list">(상급/난이도)___고강도 인터벌트레이닝 HIIT</li></a>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4S3IsIefTxHwG7v6hKOh_sU"><li class="list">(초중급/난이도)30일 슬로우 버피&마운틴클라이머 프로젝트</li></a>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4TW_j8MQDxlJTcZGjMvba03"><li class="list">(초급/난이도)4주 필라테스 프로젝트, 4Weeks Pilates</li></a>
            <a href="https://www.youtube.com/playlist?list=PLzuEnP1JLD4R9hsP-n_xCJpB4vnqQjUMq"><li class="list">(상급/난이도)4주 스미튜빙 밴드프로젝투, Resistance Band</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container container5">
    <p class="play">Uploaded Videos</p>
    <div class="row">
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/TqKGSGfDqdY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=TqKGSGfDqdY&t=5s">수건을 이용한 상체운동</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/F92MEtqVre8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=6_LYz_XxD-g">스미홈트(초보편/Beginner)</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/Ox7JRuudtqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=-WH-ve78X14">100일 복근프로젝트 D1-D6</a>
      </div>
      <div class="col-sm-3">
        <iframe width="250" height="160" src="https://www.youtube.com/embed/Ox7JRuudtqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=Ox7JRuudtqs">스미홈트 "힙업프로젝트DAY-1"</a>
      </div>
    </div>
  </div>


  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
