<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid workout-title">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h1>Push-up</h1>
      </div>
      <div class="col-sm-4 text-center">
        <p>BODY PART:</p>
        <h3>Arms, Chest, Shoulders</h3>
      </div>
      <div class="col-sm-4 text-center">
        <p>DIFFICULTY:</p>
        <h3>Intermediate</h3>
      </div>
    </div>
  </div>

  <div class="workout-sub container-fluid" style="padding: 100px;">
    <div class="col-sm-6">
      <img src="/img/workout_image/41.gif" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <h3>Step1</h3>
      <p>Starting Position: Kneel on an exercise mat or floor and bring your feet together behind you.
      </p>
      <br>
      <h3>Step2</h3>
      <p>Slowly bend forward to place your palms flat on the mat, positioning your hands shoulder-width apart with your fingers facing forward or turned slightly inward. Slowly shift your weight forward until your shoulders are positioned directly over your hands. Reposition your hands as needed to allow full extension of your body without any bend at the hips or knees. Stiffen your torso by contracting your core/abdominal muscles ("bracing"), your glute and quadriceps muscles and align your head with your spine. Place your feet together with your ankles dorsiflexed (toes pointed towards your shins).
      </p>
      <br>
      <h3>Step3</h3>
      <p>Downward Phase: Slowly lower your body towards the floor while maintaining a rigid torso and head aligned with your spine. Do not allow your low back to sag or your hips to hike upwards during this downward phase. Continue to lower yourself until your chest or chin touch the mat/floor. Allow your elbows to flare outwards during the lowering phase.
      </p>
      <br>
      <h3>Step4</h3>
      <p>Upward Phase: Press upwards through your arms while maintaining a rigid torso and head aligned with your spine. For extra strength think about pushing the floor away from you. Do not allow your low back to sag or your hips to hike upwards. Continue pressing until the arms are fully extended at the elbows.
</p>
      <br>
      <h3>Step5</h3>
      <p>An alternative position is to turn your hands to face forwards and keep your your elbows close to your sides during the downward phase. This shifts the emphasis from the chest muscles onto the triceps and may reduce stresses in the shoulder joint.
Pushing through the heel and outside surface of your palm provides greater force in your press and stability to your shoulders.
</p>
    </div>
  </div>




  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
