<!DOCTYPE html>
<html lang="en">

<head>
  <title>For your Home Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Start Main Top -->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="our-link" id="logininfo">
            <ul>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a href="/mypage"><span class="glyphicon glyphicon-user"></span> MyPage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Top -->

  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img class="main_logo" src="img/logo.png" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="/aboutus">ABOUT US</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WORKOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/workout_bodypart">by BodyPart</a></li>
              <li><a href="/workout_difficulty">by Difficulty</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customizing">CUSTOMIZING</a></li>
              <li><a href="/ranking">RANKING</a></li>
              <li><a href="/calculator">CALCULATOR</a></li>
              <li><a href="/timer">TIMER/STOP WATCH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/youtube">YOUTUBE</a></li>
              <li><a href="/magazine">HEALTH MAGAZINE</a></li>
              <li><a href="/news">HEALTH NEWS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">OTHERS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide">CENTER GUIDE</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/customer">CUSTOMER SERVICES</a></li>
              <li><a href="/evaluation">EVALUATION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid workout-title">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h1>Supine Reverse Crunch
</h1>
      </div>
      <div class="col-sm-4 text-center">
        <p>BODY PART:</p>
        <h3>Abs
</h3>
      </div>
      <div class="col-sm-4 text-center">
        <p>DIFFICULTY:</p>
        <h3>Intermediate</h3>
      </div>
    </div>
  </div>

  <div class="workout-sub container-fluid" style="padding: 100px;">
    <div class="col-sm-6">
      <img src="/img/workout_image/76.gif" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <h3>Step1</h3>
      <p>Starting Position: Lie in a supine (on your back) position on a mat with your knees bent, feet flat on the floor and arms spread out to your sides with your palms facing down. Gently exhale, stiffen your torso by contracting your abdominal/core muscles ("bracing") and slowly lift your feet off the floor, raising your knees directly above your hips while maintaining a 90 degree bend in the knees. Hold this position and breathe normally. Use your arms as a balance support.
</p>
      <br>
      <h3>Step2</h3>
      <p>Upward Phase: Exhale, contract your abdominal, core and hip flexor muscles and slowly raise your hips off the mat, rolling your spine up as if trying to bring your knees towards your head (your hips and pelvis should move towards your rib cage). Avoid any change in the angle of your knees during the roll-up. Use your arms and hands to assist with maintaining your balance and continue to curl-up until your spine cannot roll any further. Hold this position briefly.
</p>
      <br>
      <h3>Step3</h3>
      <p>Downward Phase: Gently inhale and lower your spine back towards the mat in a controlled fashion, moving your upper thighs backwards until they are positioned directly over your hips. Continue rolling out until your spine and pelvis (hips) contact the mat and your knees are positioned directly over the your hips with a 90 degree bend with your lower leg.
Proper form is important when performing this exercise to prevent excessive stresses on your low back. When returning to your starting position during the repetitions, control your leg movement ensuring that your knees don't move past your hips, but instead return to a position directly above your hips. Since the abdominals connect the rib cage to the pelvis, the emphasis of the movement should be on pulling your pelvis upwards towards your rib cage.
</p>

    </div>
  </div>




  <div class="container-fluid container1">
    <div class="row">
      <div class="col-sm-4 f1">
        <p class="p11">PRODUCER. HLS</p>
        <p class="p11">Hyun Ji Yeon</p>
        <p class="p11">Lee Seung Yeon</p>
        <p class="p11">So Hee Jin</p>
      </div>

      <div class="col-sm-4 f2">
        <p class="p14"><a href="notice.html">공지사항</a></p>
        <p class="p14"><a href="notice.html">이용약관</a></p>
        <p class="p14"><a href="notice.html">개인정보처리방침</a></p>
      </div>

      <div class="col-sm-4 f3">
        <p class="p11">HOMT</p>
        <span id="span" class="glyphicon glyphicon-map-marker logo glyphicon2"></span><p class="p12"> 충청북도 청주시 서원구 충대로1</p>
        <p class="p13">충북대학교 소프트웨어학과</p>
        <span id="span" class="glyphicon glyphicon-phone-alt logo glyphicon2"></span><p class="p12"> 043-261-2260</p>
      </div>
    </div>
    <hr class="hr1">
    <center><p class="last">Copyright 2020 OpenSource Web Software. All Rights Reserved.</p></center>
  </div>

  </body>
</html>
